.alignSection{
    @media screen and (min-width:1200px) {
        margin: $margin-left-right;   
    }

}


.company-name{
    padding-left: 15px;
    @media screen and (min-width:1200px) {
      padding-left: 70px;
    }
  }


.nav-link-margin{
    @media screen and (min-width: 300px) {
        margin-right: 0;
    }

    @media screen and (min-width:1200px) {
        margin-right: 40px;
      }
}