#contact {
width: 100%;
height: 100%;
}

.section-header {
margin: 0 auto;
padding: 40px 0 10px 15px;
font: 50px 'Oswald', sans-serif;
color: #fff;
letter-spacing: 1px;
font-family: Helvetica;
}

.map_header{
    font: 300 45px 'Oswald', sans-serif;
    color: #fff;
    text-align: center;
    letter-spacing: 1px;
}

.contact-wrapper {
display: flex;
flex-direction: row;
justify-content: space-between;
margin: 0 auto;
padding: 20px;
position: relative;
// max-width: 840px;
}

/* Left contact page */
.form-horizontal {
/*float: left;*/
max-width: 400px;
font-family: Heveltica;
font-weight: 400;
}

.form-control, 
textarea {
max-width: 300px;
background-color: #000;
color: #fff;
letter-spacing: 1px;
}

.send-button {
margin-top: 15px;
height: 34px;
width: 400px;
overflow: hidden;
transition: all .2s ease-in-out;
}

.send-text {
display: block;
margin-top: 10px;
font: 700 12px 'Lato', sans-serif;
letter-spacing: 2px;
}

.alt-send-button:hover {
transform: translate3d(0px, -29px, 0px);
}

/* Begin Right Contact Page */
.direct-contact-container {
max-width: 400px;
padding-left: 10px;
}

/* Location, Phone, Email Section */
.contact-list {
list-style-type: none;
margin-left: -30px;
padding-right: 20px;
}

.list-item {
line-height: 4;
color: #aaa;
}

.contact-text {
font: 300 18px 'Lato', sans-serif;
letter-spacing: 1.9px;
color: #bbb;
}

.place {
margin-left: 15px;
}

.phone {
margin-left: 15px;
}

.gmail {
margin-left: 15px;
}

.contact-text a {
color: #bbb;
text-decoration: none;
transition-duration: 0.2s;
}

.contact-text a:hover {
color: #fff;
text-decoration: none;
}

/* Social Media Icons */
.social-media-list {
position: relative;
font-size: 22px;
text-align: center;
width: 100%;
margin: 0 auto;
padding: 0;
}

.social-media-list li a {
color: #fff;
}

.social-media-list li {
position: relative; 
display: inline-block;
height: 60px;
width: 60px;
margin: 10px 3px;
line-height: 60px;
border-radius: 50%;
color: #fff;
background-color: rgb(27,27,27);
cursor: pointer; 
transition: all .2s ease-in-out;
}

// this code will make links unclickable 
/* .social-media-list li:after {
content: '';
position: absolute;
top: 0;
left: 0;
width: 60px;
height: 60px;
line-height: 60px;
// border-radius: 50%;
opacity: 0;
box-shadow: 0 0 0 1px #fff;
transition: all .2s ease-in-out;
} */

.social-media-list li:hover {
background-color: #fff; 
}

.social-media-list li:hover:after {
opacity: 1;  
transform: scale(1.12);
transition-timing-function: cubic-bezier(0.37,0.74,0.15,1.65);
}

.social-media-list li:hover a {
color: #000;
}

.copyright {
font: 200 14px 'Oswald', sans-serif;
color: #555;
letter-spacing: 1px;
text-align: center;
}

hr {
border-color: rgba(255,255,255,.6);
}

/* Begin Media Queries*/
@media screen and (max-width: 850px) {
.contact-wrapper {
    display: flex;
    flex-direction: column;
}
.direct-contact-container, .form-horizontal {
    margin: 0 auto;
}  

.direct-contact-container {
    margin-top: 60px;
    max-width: 300px;
}    
.social-media-list li {
    height: 60px;
    width: 60px;
    line-height: 60px;
}
.social-media-list li:after {
    width: 60px;
    height: 60px;
    line-height: 60px;
}
}

@media screen and (max-width: 321px){

    #googleMap{
        height: 300px;
        width: 290px;
    }

    .form-control{
        width: 250px;
    }

    .map_header{
        float: left;
        font-size: 40px;
    }


    .section-header{
        font-size: 40px;
    }

    .send-button {
        margin-top: 15px;
        height: 34px;
        width: 250px;
        overflow: hidden;
        transition: all .2s ease-in-out;
    }

    .send-text {
        display: block;
        float: left;
        margin-top: 5px;
        margin-left: 26%;
    } 

    .social-media-list li {
        position: relative; 
        display: inline-block;
        height: 50px;
        width: 50px;
        margin: 6px 3px;
        line-height: 50px;
        border-radius: 50%;
        color: #fff;
        background-color: rgb(27,27,27);
        cursor: pointer; 
        transition: all .2s ease-in-out;
    }

    .social-media-list {
        position: relative;
        font-size: 16px;
        text-align: center;
        width: 100%;
        margin: 0 auto;
        // padding: 0;
    } 
}

@media screen and (min-width: 375px){
    #googleMap{
        margin-left: 10px;
        height: 330px;
        width: 330px;
    }

    .map_header{
        float: left;
        margin-left: 20px;
        font-size: 50px;
    }

    .form-control{
        width: 300px;
    }

    .send-button {
        margin-top: 15px;
        height: 34px;
        width: 300px;
        overflow: hidden;
        transition: all .2s ease-in-out;
    }

    .send-text {
        display: block;
        float: left;
        margin-top: 5px;
        margin-left: 10%;
    }
}

@media screen and (min-width: 419px){

    #googleMap{
        height: 300px;
        width: 400px;
    }

    .form-control{
        width: 360px;
    }

    .map_header{
        float: left;
    }

    .send-button {
        margin-top: 15px;
        height: 34px;
        width: 360px;
        overflow: hidden;
        transition: all .2s ease-in-out;
    }

    .send-text {
        display: block;
        float: left;
        margin-top: 5px;
        margin-left: 38%;
    } 
}

@media screen and (min-width: 1200px) {
    #googleMap{
        height: 370px;
        width: 430px;
    }

    .map_header{
        font-size: 50px;
        padding-bottom: 20px;
    }
}

.section-header{
    font-family: haveltica;
    font-weight: 300;
}

.map_header{
    font-family: haveltica;
    font-weight: 300;
}


@media screen and (min-width: 322px) and (max-width: 418px){

    #googleMap{
        height: 300px;
        width: 290px;
        margin-left: 10px;
    }

    .form-control{
        width: 260px;
    }

    .map_header{
        float: left;
        font-size: 40px;
    }


    .section-header{
        font-size: 40px;
    }

    .send-button {
        margin-top: 15px;
        height: 34px;
        width: 260px;
        overflow: hidden;
        transition: all .2s ease-in-out;
    }

    .send-text {
        display: block;
        float: left;
        margin-top: 5px;
        margin-left: 26%;
    } 

    .social-media-list li {
        position: relative; 
        display: inline-block;
        height: 50px;
        width: 50px;
        margin: 6px 3px;
        line-height: 50px;
        border-radius: 50%;
        color: #fff;
        background-color: rgb(27,27,27);
        cursor: pointer; 
        transition: all .2s ease-in-out;
    }

    .social-media-list {
        position: relative;
        font-size: 16px;
        text-align: center;
        width: 100%;
        margin: 0 auto;
        // padding: 0;
    } 
}
