#services-display > div{
    display: none;
    margin: 10px 20px;
    font-size: 20px;
  }

  #services-display > div:first-of-type{
    display: block;
  }


  @media (min-width:1200px) {
    #services-list {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        margin: auto;
        font-size: 20px;
      }

      #services-list > li {
        justify-content: center;
        float: left; 
        margin:10px 40px;
      }

      #services-list > li > a {
        display: block;
        text-align: center;
        text-decoration: none;
        color: blue;
      } 
  }




  .service-heading{
    color: $primary-heading-color;
  }