.img-area{
  width: 40%;
  height: 80%;
  float: left;
  margin-bottom: 10px;
}

.info-area{
  width: 50%;
  float: left;
  margin-left: 10px;
  margin-top: 5px;
}

.team-member{
  margin: 10px;
  font-size: 20px;
}


.membersocial{
  display: inline;
}

.membersocial a{
  margin: 5px;
  font-size: 15px;
}


.team-section-heading{
  text-align: center;
  color: $primary-heading-color;
}




